.popup__save-button {
  height: 50px;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  border-radius: 2px;
  border: none;
  margin-top: 48px;
  cursor: pointer;
}

.popup__save-button:hover {
  opacity: 0.8;
}

.popup__save-button_disabled {
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 570px) {
  .popup__save-button {
    height: 46px;
    line-height: 17px;
    font-size: 14px;
    margin-top: 45px;
  }
}

.popup__save-button_delete-card {
  margin-top: 12px;
}