.popup__container {
  margin-top: calc((100vh - 330px) / 2);
  margin-left: calc((100% - 430px) / 2);
}

@media (max-width: 570px) {
  .popup__container {
    margin-top: calc((100vh - 322px) / 2);
    margin-left: 19px;
  }
}