.popup__form {
  position: fixed;
  top: calc((100% - 330px) / 2);
  left: calc((100% - 430px) / 2);
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  width: 430px;
  height: 330px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 34px 36px 37px;
  box-sizing: border-box;
  color: black;
}

@media (max-width: 570px) {
  .popup__form {
    padding: 25px 22px;
    height: 322px;
    width: calc(100% - 38px);
    top: calc((100% - 322px) / 2);
    left: 19px;
  }
}