.elements {
  padding-top: 51px;
  margin: 0;
  width: 100%;
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
  row-gap: 20px;
  column-gap: 17px;
}