.element__like {
  border: none;
  margin: 0;
  padding: 0;
  background-image: url(../../../image/like.png);
  background-color: #fff;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 19px;
  width: 22px;
  cursor: pointer;
}

.element__like:hover {
  opacity: 50%;
}