.popup__closeButton {
  background-image: url("../../../image/CloseIcon.png");
  background-color: transparent;
  border: none;
  height: 32px;
  width: 32px;
  position: fixed;
  top: calc((100% - 330px) / 2 - 40px);
  right: calc((100% - 430px) / 2 - 40px);
  padding: 0;
  margin: 0;
}

.popup__closeButton:hover {
  opacity: 80%;
}
